In [96]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,lit
session = SparkSession.builder.appName('Filter operation').getOrCreate()
df = session.read.csv('dataset/missingdataset.csv',header=True, inferSchema=True)
df.show()

+-------+----+----------+------+
|   name| age|experience|salary|
+-------+----+----------+------+
|karim a|  22|       1.0|  3333|
|karim v|  22|       3.0|  4444|
|karim b|  22|       4.0|  3333|
|karim c|  23|       2.0|  2222|
|karim d|  23|       1.0|  5555|
|karim b|  24|       4.0|  3333|
|karim c|  23|       2.0|  2222|
|karim d|  23|       1.0|  5555|
| mehedi|  23|       2.0|  1111|
|  mahim|  13|      null|  null|
|   null|  12|       2.0|  3333|
|   null|  36|      null|  null|
|   null|null|      null|  null|
+-------+----+----------+------+

In [97]:
df = df.na.drop(how='any')
df.show()

+-------+---+----------+------+
|   name|age|experience|salary|
+-------+---+----------+------+
|karim a| 22|       1.0|  3333|
|karim v| 22|       3.0|  4444|
|karim b| 22|       4.0|  3333|
|karim c| 23|       2.0|  2222|
|karim d| 23|       1.0|  5555|
|karim b| 24|       4.0|  3333|
|karim c| 23|       2.0|  2222|
|karim d| 23|       1.0|  5555|
| mehedi| 23|       2.0|  1111|
+-------+---+----------+------+

## Group by

In [98]:
gdf = df.groupBy('name').sum('salary')
gdf.show()

+-------+-----------+
|   name|sum(salary)|
+-------+-----------+
|karim a|       3333|
|karim c|       4444|
|karim v|       4444|
| mehedi|       1111|
|karim d|      11110|
|karim b|       6666|
+-------+-----------+

## shorted dataframe

In [99]:
gdf.orderBy('sum(salary)').show()

+-------+-----------+
|   name|sum(salary)|
+-------+-----------+
| mehedi|       1111|
|karim a|       3333|
|karim c|       4444|
|karim v|       4444|
|karim b|       6666|
|karim d|      11110|
+-------+-----------+

In [108]:
#find out how many people based on age
df.groupBy('age').count().show()

+---+-----+
|age|count|
+---+-----+
| 22|    3|
| 23|    5|
| 24|    1|
+---+-----+

In [110]:
## find out who get maximum salary
## did not workin perfectly
maxdf = df.select(['name','age'])
maxdf.show()
maxdf.groupBy('name').max().show()

+-------+---+
|   name|age|
+-------+---+
|karim a| 22|
|karim v| 22|
|karim b| 22|
|karim c| 23|
|karim d| 23|
|karim b| 24|
|karim c| 23|
|karim d| 23|
| mehedi| 23|
+-------+---+

+-------+--------+
|   name|max(age)|
+-------+--------+
|karim a|      22|
|karim c|      23|
|karim v|      22|
| mehedi|      23|
|karim d|      23|
|karim b|      24|
+-------+--------+

## calculate total expenditure

In [106]:
## apply direct aggregrate
df.agg({'salary':'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|      31108|
+-----------+