In [22]:
from pyspark.sql import SparkSession
session = SparkSession.builder.appName('HandlingMissing').getOrCreate()

In [23]:
df = session.read.csv('dataset/missingdataset.csv', header= True, inferSchema= True)
df.show()

+-------+----+----------+------+
|   name| age|experience|salary|
+-------+----+----------+------+
|karim a|  22|       1.0|  3333|
|karim v|  22|       3.0|  4444|
|karim b|  22|       4.0|  3333|
|karim c|  23|       2.0|  2222|
|karim d|  23|       1.0|  5555|
| mehedi|  23|       2.0|  1111|
|  mahim|  13|      null|  null|
|   null|  12|       2.0|  3333|
|   null|  36|      null|  null|
|   null|null|      null|  null|
+-------+----+----------+------+

In [24]:
## droping the null value

In [25]:
df.na.drop().show() # if we use only drop then all null row will be removed

+-------+---+----------+------+
|   name|age|experience|salary|
+-------+---+----------+------+
|karim a| 22|       1.0|  3333|
|karim v| 22|       3.0|  4444|
|karim b| 22|       4.0|  3333|
|karim c| 23|       2.0|  2222|
|karim d| 23|       1.0|  5555|
| mehedi| 23|       2.0|  1111|
+-------+---+----------+------+

In [26]:
## any = how
df.na.drop(how='any').show() # if any row contains null then removed
df.na.drop(how = 'all').show() #if all column contains null then removed

+-------+---+----------+------+
|   name|age|experience|salary|
+-------+---+----------+------+
|karim a| 22|       1.0|  3333|
|karim v| 22|       3.0|  4444|
|karim b| 22|       4.0|  3333|
|karim c| 23|       2.0|  2222|
|karim d| 23|       1.0|  5555|
| mehedi| 23|       2.0|  1111|
+-------+---+----------+------+

+-------+---+----------+------+
|   name|age|experience|salary|
+-------+---+----------+------+
|karim a| 22|       1.0|  3333|
|karim v| 22|       3.0|  4444|
|karim b| 22|       4.0|  3333|
|karim c| 23|       2.0|  2222|
|karim d| 23|       1.0|  5555|
| mehedi| 23|       2.0|  1111|
|  mahim| 13|      null|  null|
|   null| 12|       2.0|  3333|
|   null| 36|      null|  null|
+-------+---+----------+------+

In [30]:
## threshold
df.na.drop(how='any',thresh=2).show() # if at least 2 non null value is exist then not removed otherwise removed

+-------+---+----------+------+
|   name|age|experience|salary|
+-------+---+----------+------+
|karim a| 22|       1.0|  3333|
|karim v| 22|       3.0|  4444|
|karim b| 22|       4.0|  3333|
|karim c| 23|       2.0|  2222|
|karim d| 23|       1.0|  5555|
| mehedi| 23|       2.0|  1111|
|  mahim| 13|      null|  null|
|   null| 12|       2.0|  3333|
+-------+---+----------+------+

In [31]:
## sbuset
df.na.drop(how='any',subset=['experience']).show() # where ever expericenc column contains null value whole row is removed.

+-------+---+----------+------+
|   name|age|experience|salary|
+-------+---+----------+------+
|karim a| 22|       1.0|  3333|
|karim v| 22|       3.0|  4444|
|karim b| 22|       4.0|  3333|
|karim c| 23|       2.0|  2222|
|karim d| 23|       1.0|  5555|
| mehedi| 23|       2.0|  1111|
|   null| 12|       2.0|  3333|
+-------+---+----------+------+

In [35]:
## filling the missing value
df.na.fill('missing').show() #all string null converted by missing 
df.na.fill(0).show()# all integer null converted by 0

+-------+----+----------+------+
|   name| age|experience|salary|
+-------+----+----------+------+
|karim a|  22|       1.0|  3333|
|karim v|  22|       3.0|  4444|
|karim b|  22|       4.0|  3333|
|karim c|  23|       2.0|  2222|
|karim d|  23|       1.0|  5555|
| mehedi|  23|       2.0|  1111|
|  mahim|  13|      null|  null|
|missing|  12|       2.0|  3333|
|missing|  36|      null|  null|
|missing|null|      null|  null|
+-------+----+----------+------+

+-------+---+----------+------+
|   name|age|experience|salary|
+-------+---+----------+------+
|karim a| 22|       1.0|  3333|
|karim v| 22|       3.0|  4444|
|karim b| 22|       4.0|  3333|
|karim c| 23|       2.0|  2222|
|karim d| 23|       1.0|  5555|
| mehedi| 23|       2.0|  1111|
|  mahim| 13|       0.0|     0|
|   null| 12|       2.0|  3333|
|   null| 36|       0.0|     0|
|   null|  0|       0.0|     0|
+-------+---+----------+------+

In [41]:
## replace null by specific column

df.na.fill(0,['age','experience','salary']).show() # data type  of replacabe column and replacable value must be same

+-------+---+----------+------+
|   name|age|experience|salary|
+-------+---+----------+------+
|karim a| 22|       1.0|  3333|
|karim v| 22|       3.0|  4444|
|karim b| 22|       4.0|  3333|
|karim c| 23|       2.0|  2222|
|karim d| 23|       1.0|  5555|
| mehedi| 23|       2.0|  1111|
|  mahim| 13|       0.0|     0|
|   null| 12|       2.0|  3333|
|   null| 36|       0.0|     0|
|   null|  0|       0.0|     0|
+-------+---+----------+------+

In [52]:
# fill null value by mean of column

from pyspark.ml.feature import Imputer

imputer = Imputer(
inputCols=['age','experience','salary'],
outputCols = ["{}_imputed".format(c) for c in ['age','experience','salary']]
).setStrategy('mean')

In [48]:
# add imputation cols to df

imputer.fit(df).transform(df).show()

+-------+----+----------+------+-----------+------------------+--------------+
|   name| age|experience|salary|age_imputed|experience_imputed|salary_imputed|
+-------+----+----------+------+-----------+------------------+--------------+
|karim a|  22|       1.0|  3333|         22|               1.0|          3333|
|karim v|  22|       3.0|  4444|         22|               3.0|          4444|
|karim b|  22|       4.0|  3333|         22|               4.0|          3333|
|karim c|  23|       2.0|  2222|         23|               2.0|          2222|
|karim d|  23|       1.0|  5555|         23|               1.0|          5555|
| mehedi|  23|       2.0|  1111|         23|               2.0|          1111|
|  mahim|  13|      null|  null|         13| 2.142857142857143|          3333|
|   null|  12|       2.0|  3333|         12|               2.0|          3333|
|   null|  36|      null|  null|         36| 2.142857142857143|          3333|
|   null|null|      null|  null|         21| 2.142857142857143|          3333|
+-------+----+----------+------+-----------+------------------+--------------+