In [ ]:
# !pip install pyspark

In [1]:
import pyspark

In [2]:
print('meheid')

meheid

In [ ]:
# !pip install matplotlib

In [ ]:
# pip freeze>requirements.txt

In [3]:
import pandas as pd
pd.read_excel('dataset/sampledataset.xlsx')

      name  age
0  karim a   22
1  karim v   22
2  karim b   22
3  karim c   23
4  karim d   23
5   mehedi   23
6    mahim   13

# spark session

In [4]:
 from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('Intro').getOrCreate()

In [6]:
spark

In [ ]:
# def_pyspark=spark.read.csv('dataset/sampledataset.csv')

first row value will consider header by option() function

In [20]:
df_pyspark = spark.read.option('header','true').csv('dataset/sampledataset.csv')

In [22]:
df_pyspark.show()

+-------+---+
|   name|age|
+-------+---+
|karim a| 22|
|karim v| 22|
|karim b| 22|
|karim c| 23|
|karim d| 23|
| mehedi| 23|
|  mahim| 13|
+-------+---+

In [23]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [26]:
df_pyspark.head(2) #show first 2 row

[Row(name='karim a', age='22'), Row(name='karim v', age='22')]

In [27]:
df_pyspark.printSchema() #show column variable type

root
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)