In [ ]:
# !pip install pyspark

In [1]:
import pyspark

In [2]:
print('meheid')

meheid

In [ ]:
# !pip install matplotlib

In [ ]:
# pip freeze>requirements.txt

In [3]:
import pandas as pd
pd.read_excel('dataset/sampledataset.xlsx')

      name  age
0  karim a   22
1  karim v   22
2  karim b   22
3  karim c   23
4  karim d   23
5   mehedi   23
6    mahim   13

# spark session

In [4]:
 from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('Intro').getOrCreate()