In [1]:
# !pip install pyspark

In [20]:
import pyspark

In [21]:
print('meheid')

meheid

In [4]:
# !pip install matplotlib

In [5]:
# pip freeze>requirements.txt

In [22]:
import pandas as pd
pd.read_excel('dataset/sampledataset.xlsx')

      name  age
0  karim a   22
1  karim v   22
2  karim b   22
3  karim c   23
4  karim d   23
5   mehedi   23
6    mahim   13

# spark session

In [7]:
 from pyspark.sql import SparkSession

In [23]:
spark = SparkSession.builder.appName('Intro').getOrCreate()

In [24]:
spark

In [18]:
# def_pyspark=spark.read.csv('dataset/sampledataset.csv')
# def_pyspark.show()

+-------+---+
|    _c0|_c1|
+-------+---+
|   name|age|
|karim a| 22|
|karim v| 22|
|karim b| 22|
|karim c| 23|
|karim d| 23|
| mehedi| 23|
|  mahim| 13|
+-------+---+

first row value will consider header by option() function

In [25]:
df_pyspark = spark.read.option('header','true').csv('dataset/sampledataset.csv')

In [26]:
df_pyspark.show()

+-------+---+----------+
|   name|age|experience|
+-------+---+----------+
|karim a| 22|         1|
|karim v| 22|         3|
|karim b| 22|         4|
|karim c| 23|         2|
|karim d| 23|         1|
| mehedi| 23|         2|
|  mahim| 13|         2|
+-------+---+----------+

In [13]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [14]:
df_pyspark.head(2) #show first 2 row

[Row(name='karim a', age='22'), Row(name='karim v', age='22')]

In [15]:
df_pyspark.printSchema() #show column variable type

root
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)

## read the dataset

In [34]:
from pyspark.sql import SparkSession
session = SparkSession.builder.appName('Practice').getOrCreate()

# df = session.read.option('header','true').csv('dataset/sampledataset.csv',inferSchema=True) 
df = session.read.csv('dataset/sampledataset.csv',header = True, inferSchema=True)
#if i did not use inferschema = True then all value will be string. 
df.show()

+-------+---+----------+
|   name|age|experience|
+-------+---+----------+
|karim a| 22|         1|
|karim v| 22|         3|
|karim b| 22|         4|
|karim c| 23|         2|
|karim d| 23|         1|
| mehedi| 23|         2|
|  mahim| 13|         2|
+-------+---+----------+

## Check the schema

In [35]:
df.printSchema() #

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)

## show column name

In [36]:
df.columns

['name', 'age', 'experience']

## pickup specific column

In [37]:

df.select('name').show()

+-------+
|   name|
+-------+
|karim a|
|karim v|
|karim b|
|karim c|
|karim d|
| mehedi|
|  mahim|
+-------+

In [38]:
df.select(['name','age']).show() #multiple column

+-------+---+
|   name|age|
+-------+---+
|karim a| 22|
|karim v| 22|
|karim b| 22|
|karim c| 23|
|karim d| 23|
| mehedi| 23|
|  mahim| 13|
+-------+---+

## deta types

In [39]:
df.dtypes #show all column datatype

[('name', 'string'), ('age', 'int'), ('experience', 'int')]

## describe

In [41]:
df.describe().show()

+-------+-------+------------------+------------------+
|summary|   name|               age|        experience|
+-------+-------+------------------+------------------+
|  count|      7|                 7|                 7|
|   mean|   null|21.142857142857142| 2.142857142857143|
| stddev|   null|3.6253078686998625|1.0690449676496976|
|    min|karim a|                13|                 1|
|    max| mehedi|                23|                 4|
+-------+-------+------------------+------------------+

## adding column

In [44]:
df = df.withColumn('Experience after 2 years',df['experience']+2)
df.show()

+-------+---+----------+------------------------+
|   name|age|experience|Experience after 2 years|
+-------+---+----------+------------------------+
|karim a| 22|         1|                       3|
|karim v| 22|         3|                       5|
|karim b| 22|         4|                       6|
|karim c| 23|         2|                       4|
|karim d| 23|         1|                       3|
| mehedi| 23|         2|                       4|
|  mahim| 13|         2|                       4|
+-------+---+----------+------------------------+

## Drop the column

In [49]:
df = df.drop('Experience after 2 years')
df.show()

+-------+---+----------+
|   name|age|experience|
+-------+---+----------+
|karim a| 22|         1|
|karim v| 22|         3|
|karim b| 22|         4|
|karim c| 23|         2|
|karim d| 23|         1|
| mehedi| 23|         2|
|  mahim| 13|         2|
+-------+---+----------+

## Rename the column name

In [51]:
df = df.withColumnRenamed('name','Name')
df.show()

+-------+---+----------+
|   Name|age|experience|
+-------+---+----------+
|karim a| 22|         1|
|karim v| 22|         3|
|karim b| 22|         4|
|karim c| 23|         2|
|karim d| 23|         1|
| mehedi| 23|         2|
|  mahim| 13|         2|
+-------+---+----------+